body{
  font-family: sans-serif;
}
ul{
  /*list-style para quitar las viñetas de una lista*/
  list-style: none;
    /*usamos un padding y margin 0 para que la lista ocupe el espacio dejado de las viñetas*/
  padding: 0;
  margin: 0;
  background-color: #2e2e2a;
    /*line-height para ampliar el alto de la linea*/
  line-height: 35px;
  overflow: auto;
}
li{
  width: 100px;
  /*Para que se comporte como una etiqueta inline*/
  display: inline-block;
  text-align: center;
  float: left;
}
a{
  /*text-decoration para borrar la linea del link*/
  text-decoration: none;
  display: block;
  color: white;
}
  /* usamos hover para poner efecto al pasar el mouse*/
a:hover{
  background: #f9a91a;
  color: #000;
}
